<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prescription</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}    
  
    <label>patient_name : {{user.USERID.name}}</label> 
    <br><br>
    <label>prescription</label>
    <textarea name="Prescription" rows="4" cols="50"></textarea>
    <br><br>

   
    <input type="submit" value="add prescription">
    </form>
</body>
</html>