<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Medicine Name</th>
            <th>Prescription Image</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.MedicineName }}</td>
            <td>
                {% if item.prescriptionimage %}
                    <img src="{{ item.prescriptionimage.url }}" alt="Prescription Image" width="100">
                {% else %}
                    No Image
                {% endif %}
            </td>
            <td>{{ item.description }}</td>
            <td>{{ item.date }}</td>
        </tr>
        {% endfor %}
</body>
</html>