<!DOCTYPE html>
<html>
<head>
  <title>Simple Table</title>
</head>
<body>

  <h2>patient request</h2>

  <table border="1" cellpadding="8" cellspacing="0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Appoinmentdate</th>
        <th>status</th>
        <th>prescription</th>
        
      </tr>
    </thead>
    <tbody> {%for i in data %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.USERID.name}}</td>
        <td>{{i.appoinmentdate}}</td>
        <td>
        {% if i.status == 'Rejected' %}
          <a href="AcceptBooking/{{i.id}}"><button>Accept</button></a>
          {% elif i.status == 'Accepted' %}
          <a href="RejectBooking/{{i.id}}"><button>reject</button></a>
            {% else %}
          <a href="AcceptBooking/{{i.id}}"><button>Accept</button></a>

          <a href="RejectBooking/{{i.id}}"><button>reject</button></a>
          {% endif %}
        </td>
        <td>
          {% if i.status == "Accepted" %}
          <a href="addprescription/{{i.id}}">Add prescription</a>
          {% else %}
         <p> Not available</p>
          {% endif %}
          
        </td>
      </tr>
     {% endfor %}
    </tbody>
  </table>

</body>
</html>
